<mat-card>
    <mat-card-header>
        <mat-card-title>Select Subscription Periode And Amount Of GB</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="parametersForm">
            <mat-form-field appearance="outline">
                <mat-label>Duration (Months):</mat-label>
                <mat-select formControlName="duration">
                    <mat-option *ngFor="let price of subscriptionPricesList" [value]="price.duration_months">{{ price.duration_months }} months</mat-option>
                </mat-select>
                <mat-error *ngIf="parametersForm.get('duration')?.hasError('required')">Duration is required</mat-error>

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Amount of gigabytes(GB):</mat-label>
                <mat-select formControlName="storage">
                    <mat-option *ngFor="let storage of storageOptions" [value]="storage">{{storage}} GB</mat-option>
                </mat-select>
                <mat-error *ngIf="parametersForm.get('storage')?.hasError('required')">amount in GB is required</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="upfrontPayment">Upfront payment (10% discount)</mat-checkbox>
            <div class="btn-grp">
                <button mat-flat-button color="primary" type="button" (click)="goToNextTabulation()" [disabled]="!parametersForm.valid">Next</button>
            </div>
        </form>

    </mat-card-content>
</mat-card>