/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@import "./src/assets/styles/_form";
@import "./src/assets/styles/theme";
// Theme Init
@include mat.all-component-themes($subscription-theme);
// Theme Dark
.theme-dark {
    @include mat.all-component-themes($subscription-dark-theme);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.spacer {
    width: 100%;
}

.btn-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.ml-1 {
    margin-left: 0.5rem !important;
}

mat-card {
    width: 500px;
    margin: 1rem auto;
}

mat-sidenav-container {
    height: 100% !important;
}

form {
    display: flex;
    flex-direction: column;
}

.text-bold {
    font-weight: bold;
}

.text-color {
    color: #4ba09a
}

.w-40 {
    width: 40%;
}

.box {
    border: 1px solid #80808061;
    border-radius: 5px;
    display: flex;
    height: 30px;
    background-color: #e5e2e23b;
    justify-content: center;
    align-items: center;
}

.list-item {
    display: flex;
    justify-content: space-between;
}

.px-5 {
    padding: 0px 11px;
}

.w-100 {
    width: 100% !important
}

.mr-20 {
    margin-right: 20px;
}